body{
    background-color: #1e1e1e;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  object-fit: cover;
}

p {
  margin: 5px 0;
  color: #555;
}

p:first-of-type {
  font-weight: bold;
  color: #333;
}
